# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Operating System files
.DS_Store
Thumbs.db

# Build directories
dist/
frontend/dist/


# SonarQube temporary directories
.scannerwork/
.sonar/
sonar-project.properties


# information of project
info.txt