PORT=8080
MONGODB_URL=mongodb://127.0.0.1:27017/database_name
JWT_SECRET=any_secret
FRONTEND_URL=http://localhost:5173/
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_password_or_app_key
SMTP_FROM=your_verified_sender_email@gmail.com
