.donation-box-heading{
    display: flex;
    justify-content: space-between;
}

.donation-box div{
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(88, 85, 85, 0.173);
    padding: 2px;
}

.donation-box{
    padding: 30px;
    width: 400px;
    border-radius: 10px;
}

