*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.home{
    background:#2e7d32;
}

/* Hero */

.hero{
    background:#2e7d32;;
    color:white;
    text-align:center;
    padding:80px 20px;
}

.hero h1{
    font-size:40px;
    margin-bottom:15px;
}

.hero p{
    font-size:18px;
    margin-bottom:25px;
}

.hero-buttons button{
    padding:10px 20px;
    margin:10px;
    border:none;
    border-radius:5px;
    cursor:pointer;
    font-size:16px;
}

.hero-buttons button:first-child{
    background:white;
    color:#017505;
}

.hero-buttons button:last-child{
    /* background:#2E7D32;
    color:white; */
    background:white;
    color:#017505;
}

/* About */

.about{
    /* padding:50px 20px; */
    text-align:center;
}

.about h2{
    margin-bottom:15px;
    color:#2E7D32;
}

.about p{
    max-width:700px;
    margin:auto;
    line-height:1.6;
}

/* Features */

.features{
    padding:50px 20px;
    text-align:center;
}

.features h2{
    color:#2E7D32;
    margin-bottom:30px;
}

.feature-container{
    display:flex;
    justify-content:center;
    gap:10px;
    flex-wrap:wrap;
}

.feature-card{
    width:250px;
    background:white;
    padding:20px;
    border-radius:8px;
    box-shadow:0 2px 8px rgba(0,0,0,0.1);
}

.feature-card h3{
    margin-bottom:10px;
}

/* Footer */

footer{
    margin-top:40px;
    background:#2E7D32;
    color:white;
    text-align:center;
    padding:20px;
}

.about h2{
    color: white;
}

.features h2 {
    color: white; 
}